/* ================================= 
  Web Fonts
==================================== */

@font-face {
    src: url('../fonts/Merriweather-Regular.ttf'); font-family:"Merriweather" ;
  }
  
  /* ================================= 
  Base Styles
==================================== */

* {
  font-family: 'Merriweather';
}


/* ================================= 
  Base Layout Styles
==================================== */

main {
  width: 1200px;
  margin: auto;
}

form {
  margin: auto;
  padding: 25px;
  outline: none;
  width: 500px;
}

input,
select {
  border: 10px;
  outline: none;
  text-indent: 5px;
  padding-top: 7px;
}

fieldset {
  margin: auto;
  height: 30px;
  border-width: 2px;
  border-color: rgb(212, 212, 212);
  border-radius: 6px;
}

.search {
  width: 600px;
}


.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

img {
  padding: 20px;
  width: 250px;
  height: 250px;
}

/* ================================= 
  Media Queries
==================================== */
/* TABLETS */
@media (min-width: 768px) {

}